tags
nginx.conf

api/dbdata
api/dbdata.bak
api/backupdb
api/vendor
api/vendor.bak
api/node_modules
api/public/storage
api/public/media
api/public/static/bower_components
api/public/clients
api/public/static/test
api/.phpcd
api/docker-compose.yml
api/Homestead.yaml
api/Homestead.json
api/.env

client/node_modules.bak
client/docker-compose.yml
client/build/bundle.js
client/build/coverage/*
client/build/*.eot
client/build/*.woff
client/build/*.woff2
client/build/*.svg
client/build/*.ttf
client/build/*.map
client/build/*.js.map
client/build/*.gz
client/build/*.js
