.main-menu
    background-color: #337AB7

.main-menu ul
    list-style-type: none
    margin: 0
    padding: 0
    overflow: hidden
    background-color: #337AB7

.main-menu li
    float: left

.main-menu li a
    display: block
    color: white
    text-align: center
    padding: 14px 16px
    text-decoration: none
    font-weight: bold
    text-transform: uppercase

.main-menu li a:hover:not(.active)
    background-color: #111

.main-menu .active
    background-color: #FF9800 !important
